*{text-decoration: none;
.header-title, .cars-section-title {
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
}

/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Global Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.header-title {
    font-size: 24px;
    margin: 0;
}

.header-btn {
    background-color: #fff;
    color: #333;
    padding: 8px 16px;
    margin: 0 8px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}




/* Main Styles */
.main {
    padding: 20px 0;
}

/* Car Card Styles */
.cars-section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.cars-list {
    display: flex;
    flex-wrap: wrap;
}

.car-card {
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 10px;
    width: 350px;
}

.car-card-image img {
    text-decoration: none;
    width: 350px; /* Замените на нужную вам ширину */
    height: 250px; /* Замените на нужную вам высоту */
    object-fit: cover; /* Заполнить область, сохраняя соотношение сторон и обрезая изображение при необходимости */
}
.car-card-info {
    padding: 15px;
    text-decoration: none;
}

.car-card-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
}

.car-card-year {
    font-size: 16px;
    color: #888;
    margin-bottom: 5px;
    text-decoration: none;
}

.car-card-description {
    font-size: 14px;
    color: #555;
    text-decoration: none;
}

    .footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 15px 0;
    }
    .footer-text {
        display: flex;
        align-items: center;
        justify-content: center;

    }

@media print {
    .header-btn {
        display: none;
    }

    .footer {
      display: none;
    }
  }



@media only screen and (max-width: 767px) {
    text-decoration: none;
    .car-card {
        text-decoration: none;
        flex: 1 0 calc(100%);
    }
    .car-card-image {
        height: 150px;
        text-decoration: none;
    }
    .car-card-info {
        padding-top: 5.5rem;
        text-decoration: none;
    }
    .car-card-title {
        font-size: 1.2rem;
        text-decoration: none;
    }
    .car-card-year {
        font-size: 1rem;
        text-decoration: none;
    }
    .car-card-description {
        font-size: 0.9rem;
        text-decoration: none;
    }
    .footer  {
        width: 100%;
    }
}
}

